<div class="cotainer">
  <div class="col-md-12 txt-center">
    <h2>Welcome to BotAI</h2>
    <ng-container *ngFor="let message of messages">
      <div
        class="messsage"
        [ngClass]="{
          from: message.author === 'bot',
          to: message.author === 'user'
        }"
      >
        {{ message.content }}
      </div>
    </ng-container>
  </div>
</div>

<div class="message-content">
  <div class="col-md-12 text-center">
    <label *ngIf="messages.length == 0; else dialogInfo" for="nameField">
      Your Message
    </label>
    <input
      [(ngModel)]="value"
      (keyup.enter)="sendMessage()"
      type="text"
      class="form-control"
    />
    <button class="btn btn-primary" (click)="sendMessage()">
      Ask Your Chat BotAI
    </button>
    <ng-template #dialogInfo>
      <span [className]="'float-right'"
        >Total Message : {{ messages.length }}</span
      >
    </ng-template>
  </div>
</div>
