/* Reset some default styles for consistency */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

/* Define primary and secondary colors */
:root {
    --primary-color: #007bff;
    /* Change this to your desired primary color */
    --secondary-color: #6c757d;
    /* Change this to your desired secondary color */
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.txt-center {
    text-align: center;
}

.message-content {
    margin-top: 20px;
}

.message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    width: auto;
}

.from {
    background-color: rgb(110, 110, 214);
    color: #f0f0f0;
    text-align: left;
    border-radius: 20px;
    padding: 5px;

}

.to {
    background-color: #f0f0f0;
    color: #000;
    text-align: right;
    border-radius: 20px;
    padding: 5px;

}

.message:hover {
    background-color: #e2e2e2;
    cursor: pointer;
}

.form-control {
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.2s ease-in-out;
}

.form-control:focus {
    outline: none;
    border-color: var(--primary-color);
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: rgb(180, 128, 229);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: rgb(143, 55, 226)
}

.float-right {
    float: right;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .form-control {
        max-width: 100%;
    }

    .float-right {
        display: block;
        margin-top: 10px;
    }
}