<div class="item-container">
  <h2 class="item-heading">Item List</h2>
  <table class="item-table">
    <thead>
      <tr>
        <th>Item Name</th>
        <th>Item Code</th>
        <th>Barcode</th>
        <th>Cost</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td>{{ item.itemName }}</td>
        <td>{{ item.itemCode }}</td>
        <td>{{ item.barcode }}</td>
        <td>{{ item.cost }}</td>
        <td>{{ item.price }}</td>
      </tr>
    </tbody>
  </table>
  <button (click)="openAddDialog()" class="add-item-btn">Add Item</button>
</div>
